* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* body {
  background-color: rgb(181, 216, 165);

} */

header {
  background: black;
  padding: 20px;
}

header > h1 {
  color: white;
  font-family: sans-serif;
}

.button {
  background-color: black;
  border: 1px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

/* 
.score {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 45px;
  padding: 15px 20px;
  font-family: sans-serif;
  position: relative;
}

.badge {
  background: #e25840;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: sans-serif;
}

#player {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer {
  position: absolute;
  top: 30px;
  right: -45px;
} */